{% extends "base.twig" %}{% block content %}{% include 'particles/navigation.twig' %}<section id="PortfolioHeader"><div class="row align-center"><div class="medium-8 columns">{% if post.portfolio_header %}<h1 class="mark">{{post.portfolio_header}}</h1>{% endif %}</div></div></section><section id="ProjectThumbnails"><div class="row small-up-1 medium-up-3">{% for project in projects |slice (0,3) %}<div class="column"><div class="projectthumbnail"><a href="{{project.link}}" class="project"><div class="figcaption hide-for-small-only">View Project</div>{% if project.project_image %}<img src="{{TimberImage(project.project_image)|resize(280, 210) }}" />{% endif %}{% if project.project_title %}<h3>{{project.project_title}}</h3>{% endif %}{% if project.company_name %}<p>{{project.company_name}}</p>{% endif %}<div class="foot"></div></a></div></div>{% endfor %}</div><div class="row align-center"><span>UI Design's</span>{% for project in projects |slice (3) %}<div class="column"><div class="projectthumbnail"><a href="{{project.link}}" class="project"><div class="figcaption">View Project</div>{% if project.project_image %}<img src="{{TimberImage(project.project_image)|resize(280, 210) }}" />{% endif %}{% if project.project_title %}<h3>{{project.project_title}}</h3>{% endif %}{% if project.company_name %}<p>{{project.company_name}}</p>{% endif %}<div class="foot"></div></a></div></div>{% endfor %}</div></section><section id="tempp"><div class="row align-center"><h2 class="mark">UI Design</h2></div><div class="row align-center"><p>Check out my</p><a href="https://twitter.com/jackmahonyy" target="_blank" class="two">twitter!</a><p>Feed. I'm currently involved in the dailyui challenge.</p></div></section>{% include 'particles/footer.twig' %}<script></script>
<script type="text/javascript">
//<![CDATA[
$(".figcaption").hide();
$(".projectthumbnail").hover(function(){
$ (this).find(".figcaption").toggle();
});

//]]>
</script>
{% endblock %}